// 영역 임시 표시

* {
    // border: #fff solid 1px;
  border: none;
}

/* 모든 브라우저에서 스크롤바 숨기기 */
::-webkit-scrollbar {
  display: none;
}

html {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

// 폰트 정의

@font-face {
	font-family: "Cinzel";
	src: url("/static/Cinzel.ttf");
}

// 애니매이션 정의 

@keyframes fadeInOut {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
  100% {
		transform: scale(1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes showMessage {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

// 로딩 화면 scss

body {
  margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	color: #fff;
  height: 100vh;
  overflow: hidden;
}

.loader {
	text-align: center;
	font-family: "Cinzel";
  animation: fadeOut 0.5s 4.5s forwards;
}

.loader .animation {
  font-size: 24px;
  margin-bottom: 20px;
  animation: fadeInOut 1.2s infinite;
}

.loader .message {
  margin-top: 10px;
  animation: showMessage 5s forwards;
}