// 영역 임시 표시

* {
  // border: #fff solid 1px;
	border: none;
}

/* 모든 브라우저에서 스크롤바 숨기기 */
::-webkit-scrollbar {
  display: none;
}

html {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

// 폰트 정의

@font-face {
  font-family: "Cinzel";
  src: url("/static/Cinzel.ttf");
}

@font-face {
  font-family: "HeirofLight";
  src: url("/static/HeirofLight.ttf");
}

// 애니메이션 정의

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// 공통 스타일
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s forwards;
}

// 바디 scss

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  height: 100vh;
}

// 메인 화면 scss

header {
  font-size: 38px;
  font-family: "Cinzel";
  padding-top: 30px;
  @extend .flex-center;
}

.menu {
  padding: 70px;
  font-family: "HeirofLight";
  flex-direction: column;
  @extend .flex-center;
	img {
		margin-bottom: 15px;
		border: 3px solid #fff;
	}
	p {
		width: 300px;
		text-align: center;
		padding: 10px;
		margin: 0; 
	}
	.en {
		font-family: "Cinzel";
		font-size: 24px;
	}
}

footer {
  font-size: 14px;
	text-align: center;
  font-family: "HeirofLight";
  padding: 30px;
  @extend .flex-center;
}