// 폰트 정의

@font-face {
  font-family: "Cinzel";
  src: url("/static/Cinzel.ttf");
}

@font-face {
  font-family: "HeirofLight";
  src: url("/static/HeirofLight.ttf");
}

// 애니메이션 정의

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// 공통 스타일
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s forwards;
}

// 바디 scss

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  height: 100vh;
}

// 메인 화면 scss

header {
  font-size: 28px;
  font-family: "Cinzel";
  padding: 20px;
  @extend .flex-center;
}

.menu {
  padding: 50px;
  font-family: "HeirofLight";
  flex-direction: column;
  @extend .flex-center;
	p {
		width: 300px;
		text-align: center;
	}
	.en {
		font-family: "Cinzel";
		font-size: 20px;
	}
}

footer {
  font-size: 14px;
  font-family: "HeirofLight";
  padding: 20px;
  @extend .flex-center;
}