{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>211Festival</title>
  <link rel="stylesheet" href="{% sass_src 'main.scss' %}">
</head>
<body>
  <header>211 Cocktail Bar</header>
  <div class="menu">
    <img src={% static 'Shirley-Temple.png' %} width="250px" height="250px">
    <p class="en">Shirley Temple</p>
    <p>셜리템플</p>
    <p>그레나딘 시럽과 사이다의 조합으로 붉은색을 띄는 논알콜 칵테일입니다</p>
  </div>
  <div class="menu">
    <img src={% static 'Virgin-Peach-Crush.png' %} width="250px" height="250px">
    <p class="en">Virgin Peach Crush</p>
    <p>버진 피치크러쉬</p>
    <p>레몬과 복숭아의 조합에 크랜베리 시럽을 곁들인 논알콜 칵테일입니다</p>
  </div>
  <div class="menu">
    <img src={% static 'Blue-Dragon.png' %} width="250px" height="250px">
    <p class="en">Blue Dragon</p>
    <p>블루드래곤</p>
    <p>짙은 파란색의 블루큐라소 시럽을 곁들인 논알콜 칵테일입니다</p>
  </div>
  <div class="menu">
    <img src={% static 'Cinderella.png' %} width="250px" height="250px">
    <p class="en">Cinderella</p>
    <p>신데렐라</p>
    <p>오렌지, 파인애플, 레몬이 어우러진 노란색 논알콜 칵테일입니다</p>
  </div>
  <footer>2-11반은 4층 전관에 있습니다</footer>
</body>
</html>