{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>211Festival</title>
  <link rel="stylesheet" href="{% sass_src 'main.scss' %}">
</head>
<body>
  <header>211 Cocktail Bar</header>
  <div class="menu">
    <img src={% static 'Cocktail.png' %} width="300px" height="300px">
    <p>칵테일</p>
  </div>
  <div class="menu">
    <img src={% static 'Cocktail.png' %} width="300px" height="300px">
    <p>칵테일</p>
  </div>
  <div class="menu">
    <img src={% static 'Cocktail.png' %} width="300px" height="300px">
    <p>칵테일</p>
  </div>
  <div class="menu">
    <img src={% static 'Cocktail.png' %} width="300px" height="300px">
    <p>칵테일</p>
  </div>
<footer>2-11반은 4층 전관에 있습니다</footer>
</body>
</html>