{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>211Festival</title>
  <link rel="stylesheet" href="{% sass_src 'loading.scss' %}">
</head>
<body>
  <div class="loader">
    <div class="animation">Accessing Spy Network...</div>
    <div class="message">"211 Cocktail Bar"</div>
  </div>
  <script>
    setTimeout(() => {
      window.location.href = "/main";
    }, 5000);
  </script>
</body>
</html>