{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>211Festival</title>
  <link rel="stylesheet" href="{% sass_src 'main.scss' %}">
</head>
<body>
  <header>211 Cocktail Bar</header>
  <div class="menu">
    <img src={% static 'Shirley-Temple.png' %} width="280px" height="280px">
    <p class="en">Shirley Temple</p>
    <p>셜리템플</p>
    <p>클래식 논알콜 칵테일, 그레나딘 시럽과<br>사이다의 조합으로 붉은색감을 띠는<br>아름다운 매력의 논알콜 칵테일입니다</p>
  </div>
  <div class="menu">
    <img src={% static 'Virgin-Peach-Crush.png' %} width="280px" height="280px">
    <p class="en">Virgin Peach Crush</p>
    <p>버진 피치크러쉬</p>
    <p>새콤한 레몬과 달콤한 복숭아의 조합에<br>크랜베리 시럽을 곁들인 상큼한 매력의<br>논알콜 칵테일입니다</p>
  </div>
  <div class="menu">
    <img src={% static 'Blue-Dragon.png' %} width="280px" height="280px">
    <p class="en">Blue Dragon</p>
    <p>블루드래곤</p>
    <p>짙은 파란색의 독특한 색감의 블루큐라소 첨가로 청량함과 동시에 풍부한 맛을<br>나타내는 논알콜 칵테일입니다</p>
  </div>
  <div class="menu">
    <img src={% static 'Cinderella.png' %} width="280px" height="280px">
    <p class="en">Cinderella</p>
    <p>신데렐라</p>
    <p>오렌지, 파인애플, 레몬의 조화로 상큼한 매력을 가지고 있는 부담없이 즐길 수 있는 노란색의 논알콜 칵테일입니다</p>
  </div>
  <footer>2-11반은 4층 전관에 있습니다<br><br>*사진과 실제 음료는 다를 수 있습니다</footer>
</body>
</html>